<!-- Links -->
<ul class="list-group">
  <li class="list-group-item">
    <a class="nav-link" href="#">Inscripción </a>
  </li>

  <li class="list-group-item">
    <a class="nav-link" href="#">Ver inscripción </a>
  </li>

  <!-- Dropdown de clientes-->
  <li class="list-group-item dropdown" dropdown>
    <a
      class="nav-link dropdown-toggle"
      dropdownToggle
      id="navbarDropdownMenuLink"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
      >Clientes</a
    >
    <div
      class="dropdown-menu dropdown-primary"
      *dropdownMenu
      aria-labelledby="navbarDropdownMenuLink"
    >
      <a class="dropdown-item" routerLink="añadir-clientes">Añadir cliente</a>
      <a class="dropdown-item" routerLink="listado-clientes">Ver clientes</a>
    </div>
  </li>

  <!-- Dropdown de precios-->
  <li class="list-group-item dropdown" dropdown>
    <a
      class="nav-link dropdown-toggle"
      dropdownToggle
      id="navbarDropdownMenuLink"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
      >Precios</a
    >
    <div
      class="dropdown-menu dropdown-primary"
      *dropdownMenu
      aria-labelledby="navbarDropdownMenuLink"
    >
      <a class="dropdown-item" href="#">Añadir precio</a>
      <a class="dropdown-item" href="#">Ver precios</a>
    </div>
  </li>
  <li class="list-group-item">
    <a class="nav-link" href="#">Usuarios</a>
  </li>
  <!-- Dropdown de reportes-->
  <li class="list-group-item dropdown" dropdown>
    <a
      class="nav-link dropdown-toggle"
      dropdownToggle
      id="navbarDropdownMenuLink"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
      >Reportes</a
    >
    <div
      class="dropdown-menu dropdown-primary"
      *dropdownMenu
      aria-labelledby="navbarDropdownMenuLink"
    >
      <a class="dropdown-item" href="#">Suscripciones Diarias</a>
      <a class="dropdown-item" href="#">Suscripciones mensuales</a>
      <a class="dropdown-item" href="#">Más vendidas</a>
    </div>
  </li>
</ul>
