<!-- <div *ngIf="cargando" class="mt-5 d-flex justify-content-center">
  <div class="spinner-grow text-primary" role="status"></div>
  <div class="spinner-grow text-secondary" role="status"></div>
  <div class="spinner-grow text-success" role="status"></div>
  <div class="spinner-grow text-danger" role="status"></div>
  <div class="spinner-grow text-warning" role="status"></div>
  <div class="spinner-grow text-info" role="status"></div>
  <div class="spinner-grow text-light" role="status"></div>
  <div class="spinner-grow text-dark" role="status"></div>
</div> -->
<!-- <div class="container">
  <app-login *ngIf="!cargando"></app-login>
</div> -->

<div *ngIf="usuario && !cargando; else showLogin">
  <app-cabecera></app-cabecera>
  <router-outlet></router-outlet>
</div>
<ng-template #showLogin>
  <div class="container">
    <app-login *ngIf="!cargando"></app-login>
  </div>
</ng-template>
