<div class="container mt-3">
  <!-- Default form login -->
  <form
    class="text-center border border-light p-3"
    action=""
    [formGroup]="formularioCliente"
  >
    <p class="h4 mb-4">Añadir Clientes</p>

    <!-- Nombre -->
    <input
      type="text"
      id="nombre"
      class="form-control mb-4"
      placeholder="Nombre"
      name="nombre"
      formControlName="nombre"
    />
    <!-- mostrar errores -->
    <div
      *ngIf="
        formularioCliente.controls['nombre'].invalid &&
        formularioCliente.controls['nombre'].dirty
      "
      class="alert alert-danger"
      role="alert"
    >
      <span *ngIf="formularioCliente.controls['nombre'].errors.required">
        El nombre es obligatorio</span
      >
    </div>
    <!-- Apellidos -->
    <input
      type="text"
      id="apellidos"
      class="form-control mb-4"
      placeholder="Apellidos"
      name="apellidos"
      formControlName="apellido"
    />
    <!-- mostrar errores -->
    <div
      *ngIf="
        formularioCliente.controls['apellido'].invalid &&
        formularioCliente.controls['apellido'].dirty
      "
      class="alert alert-danger"
      role="alert"
    >
      <span *ngIf="formularioCliente.controls['apellido'].errors.required">
        El apellido es obligatorio</span
      >
    </div>
    <!-- email -->
    <input
      type="email"
      id="correo"
      class="form-control mb-4"
      placeholder="email"
      name="correo"
      formControlName="correo"
    />
    <!-- mostrar errores -->
    <div
      *ngIf="
        formularioCliente.controls['correo'].invalid &&
        formularioCliente.controls['correo'].dirty
      "
      class="alert alert-danger"
      role="alert"
    >
      <span *ngIf="formularioCliente.controls['correo'].errors.required">
        El email es obligatorio</span
      >
      <span *ngIf="formularioCliente.controls['correo'].errors.email">
        Correo no válido</span
      >
    </div>
    <!-- dni -->
    <input
      type="text"
      id="dni"
      class="form-control mb-4"
      placeholder="dni"
      name="dni"
      formControlName="dni"
      maxlength="9"
    />

    <!-- fecha nacimiento -->
    <input
      type="date"
      id="fecha"
      class="form-control mb-4"
      placeholder="fecha nacimiento"
      name="fecha"
      formControlName="fechaNacimiento"
    />
    <!-- mostrar errores -->
    <div
      *ngIf="
        formularioCliente.controls['fechaNacimiento'].invalid &&
        formularioCliente.controls['fechaNacimiento'].dirty
      "
      class="alert alert-danger"
      role="alert"
    >
      <span
        *ngIf="formularioCliente.controls['fechaNacimiento'].errors.required"
      >
        La fecha de nacimiento es obligatorio</span
      >
    </div>
    <!-- telefono -->
    <input
      type="text"
      id="telefono"
      class="form-control mb-4"
      placeholder="teléfono"
      name="telefono"
      formControlName="telefono"
      maxlength="9"
    />
    <!-- imagen -->
    <input
      type="file"
      id="imagen"
      class="form-control mb-4"
      placeholder="imagen"
      name="imagen"
      formControlName="imgUrl"
      (change)="subirImagen($event)"
    />
    <!-- mostrar errores -->
    <div
      *ngIf="
        formularioCliente.controls['imgUrl'].invalid &&
        formularioCliente.controls['imgUrl'].dirty
      "
      class="alert alert-danger"
      role="alert"
    >
      <span *ngIf="formularioCliente.controls['imgUrl'].errors.required">
        El email es obligatorio</span
      >
    </div>
    <!-- progresbar -->
    <progressbar
      [value]="porcentajeSubida"
      type="success"
      [striped]="true"
      [animate]="true"
      ><i>{{ porcentajeSubida }}%</i>
    </progressbar>
    <br>
    <span class="text-success">{{ textImg }}</span>


    <!-- Sign in button -->
    <button
      class="btn btn-info btn-block my-4"
      type="submit"
      (click)="agregar()"
      [disabled]="formularioCliente.invalid"
    >
      Añadir
    </button>
  </form>
  <!-- Default form login -->
</div>
