<div class="container mt-3">
  <h4>Listado de Clientes</h4>
  <form class="" action="" method="POST">
    <input type="text" class="form-control" placeholder="Buscar cliente">
  </form>
  <br>
  <div class="row">
    <div class="col-sm-3">
      <!-- Card -->
      <div class="card">
        <!-- Card image -->
        <img
          class="card-img-top"
          src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg"
          alt="Card image cap"
        />

        <!-- Card content -->
        <div class="card-body">
          <!-- Title -->
          <h4 class="card-title"><a>Card title</a></h4>
          <!-- Text -->
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <!-- Button -->
          <a href="#" class="card-link">Editar</a>
          <a href="#" class="card-link text-danger">Desactivar</a>
        </div>
      </div>
      <!-- Card -->
    </div>
  </div>
</div>
