<div class="container mt-3">
  <h4>Listado de Clientes</h4>
  <form class="" action="" method="POST">
    <input type="text" class="form-control" placeholder="Buscar cliente">
  </form>
  <br>
  <div class="row">
    <div class="col-sm-3" *ngFor="let cliente of clientes">
      <!-- Card -->
      <div class="card" >
        <!-- Card image -->
        <img
          class="card-img-top"
          [src]="cliente.imgUrl"
          alt="Card image cap"
        />

        <!-- Card content -->
        <div class="card-body">
          <!-- Title -->
          <h4 class="card-title">{{cliente.nombre}} {{cliente.apellido}}</h4>
          <!-- Text -->
          <p class="card-text">Email: {{cliente.correo}}</p>
          <p class="card-text">DNI: {{cliente.dni}}</p>
          <p class="card-text">Fecha Nacimineto: {{cliente.fechaNacimiento}}</p>
          <p class="card-text">Telefóno: {{cliente.telefono}}</p>
          <!-- Button -->
          <a href="#" class="card-link">Editar</a>
          <a href="#" class="card-link text-danger">Desactivar</a>
        </div>
      </div>
      <!-- Card -->
    </div>
  </div>
</div>
