body {
  overflow: hidden;
  font-family: "Courier New", Courier, monospace;
  font-weight: 300;
}
.sidebar-container {
  min-height: 100vh;
  transition: 0.5s all ease;
}
.sidebar-container .menu {
  width: 18rem;
}

#content {
  overflow-y: auto;
  height: 100vh;

}
@media (max-width: 768px) {
  .sidebar-container {
    display: none;
  }
  .navbar-nav {
    display: none;
  }
}
