<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark primary-color">
  <!-- Navbar brand -->
  <a class="navbar-brand" href="#">Gymaza</a>

  <!-- Collapse button -->
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#basicExampleNav"
    aria-controls="basicExampleNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Collapsible content -->
  <div class="collapse navbar-collapse" id="basicExampleNav">
    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Inscripción </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Ver inscripción </a>
      </li>

      <!-- Dropdown de clientes-->
      <li class="nav-item dropdown" dropdown>
        <a
          class="nav-link dropdown-toggle"
          dropdownToggle
          id="navbarDropdownMenuLink"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          >Clientes</a
        >
        <div
          class="dropdown-menu dropdown-primary"
          *dropdownMenu
          aria-labelledby="navbarDropdownMenuLink"
        >
          <a class="dropdown-item" routerLink="">Añadir cliente</a>
          <a class="dropdown-item" routerLink="listado-clientes"
            >Ver clientes</a
          >
        </div>
      </li>

      <!-- Dropdown de precios-->
      <li class="nav-item dropdown" dropdown>
        <a
          class="nav-link dropdown-toggle"
          dropdownToggle
          id="navbarDropdownMenuLink"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          >Precios</a
        >
        <div
          class="dropdown-menu dropdown-primary"
          *dropdownMenu
          aria-labelledby="navbarDropdownMenuLink"
        >
          <a class="dropdown-item" href="#">Añadir precio</a>
          <a class="dropdown-item" href="#">Ver precios</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Usuarios</a>
      </li>
      <!-- Dropdown de reportes-->
      <li class="nav-item dropdown" dropdown>
        <a
          class="nav-link dropdown-toggle"
          dropdownToggle
          id="navbarDropdownMenuLink"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          >Reportes</a
        >
        <div
          class="dropdown-menu dropdown-primary"
          *dropdownMenu
          aria-labelledby="navbarDropdownMenuLink"
        >
          <a class="dropdown-item" href="#">Suscripciones Diarias</a>
          <a class="dropdown-item" href="#">Suscripciones mensuales</a>
          <a class="dropdown-item" href="#">Más vendidas</a>
        </div>
      </li>
    </ul>
    <!-- <span>{{ usuario.email }}</span> -->
    <button class="btn btn-danger" (click)="logout()">Salir</button>
    <!-- Links -->
  </div>
  <!-- Collapsible content -->
</nav>
<!--/.Navbar-->
